/* Fonts */
$ch-pro: "chaparral-pro-display",sans-serif;
$px-nova: "proxima-nova",sans-serif;
$px-nova-soft: "proxima-nova-soft",sans-serif;

/** @extends **/
.px-nova {
	font-family: $px-nova;
}
.px-nova-soft {
	font-family: $px-nova-soft;
}
.ch-pro {
	font-family: $ch-pro;
}