body {
  background: $bg-color;
  color: $primary-text-color;
}

html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  //align-items: center;
}

.border-box {
  vertical-align: middle;
}