body {
  background: #fafafa;
  color: #333;
}

html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-box .top-half {
  padding: 10px;
  border-bottom: 1px solid black;
}

.border-box .bottom-half {
  padding: 10px;
  display: block;
}