$font-size: 85px;

.border-box .top-half {
  padding: 10px 10px 0px 10px;
  border-bottom: 2px solid $primary-text-color;
}

.logo-text h1 {
  font-family: $ch-pro;
  font-weight: 600;
  font-size: $font-size;
  letter-spacing: 5px;
  font-variant: small-caps;
  margin: 0;
  text-align: center;
}

.logo-trans {
  font-variant: normal;
  font-size: $font-size/1.85;
}