$font-size: 80px;

.logo-text {
  font-family: $ch-pro;
  font-weight: 600;
  font-size: $font-size;
  letter-spacing: 2px;
  font-variant: small-caps;
}

.logo-trans {
  font-variant: normal;
  font-size: $font-size/2;
}