.cp-caption-light {
	font-family: "chaparral-pro-caption",sans-serif;
	font-weight: 300;
}
.cp-caption-regular {
	font-family: "chaparral-pro-caption",sans-serif;
	font-weight: 400;
}

.cp-caption-semibold {
	font-family: "chaparral-pro-caption",sans-serif;
	font-weight: 600;
}

.cp-caption-bold {
	font-family: "chaparral-pro-caption",sans-serif;
	font-weight: 700;
}

.cp-subhead-light {
	font-family: "chaparral-pro-subhead",sans-serif;
	font-weight: 300;
}

.cp-subhead-regular {
	font-family: "chaparral-pro-subhead",sans-serif;
	font-weight: 400;
}

.cp-subhead-semibold {
	font-family: "chaparral-pro-subhead",sans-serif;
	font-weight: 600;
}

.cp-subhead-bold {
	font-family: "chaparral-pro-subhead",sans-serif;
	font-weight: 700;
}

.cp-display-light {
	font-family: "chaparral-pro-display",sans-serif;
	font-weight: 300;
}

.cp-display-regular {
	font-family: "chaparral-pro-display",sans-serif;
	font-weight: 400;
}

.cp-display-semibold {
	font-family: "chaparral-pro-display",sans-serif;
	font-weight: 600;
}

.cp-display-bold {
	font-family: "chaparral-pro-display",sans-serif;
	font-weight: 700;
}