92design
- need something to keep the lights on. But the side hustle is real 

Startup in stealth 
- not really in stealth, but hit up @pcooney10 if you wanna learn more. He could go on for hours. 

Open source data
- data store + data vis


Design is important. We make things look pretty so the proper message is conveyed. 

