extends ./layout.jade

block content
	.flex-container
		.main-box
			img(src='/images/pc_b.png')
		.bottom-box
			.break-wrapper
			.break-links
				a(href="https://github.com/pcooney10")
					i.fa.fa-github
				a(href="https://twitter.com/pcooney10")
					i.fa.fa-twtr
				a(href="https://linkedin.com/in/pcooney10")
					i.fa.fa-lnkd